<% layout("/layouts/clientnav") %>
<body>
    <h2>Booking page</h2>
    <form method="post" action="/book" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" value="<%=result.title%>" class="form-control">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input name="name" placeholder="Enter the name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="date class="form-label">date</label>
            <input name="date" type="date" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input name="age" type="number" placeholder="write your age" class="form-control" required>
        </div>
        <button class="btn btn-dark">Submit</button>
    </form>
    <form method="get" action="/client">
        <button class="btn btn-dark mt-2">Back</button>
    </form>
    <script>alert("Once check Booking List")</script>
</body>
